.venv/
venv/
__pycache__/
*.pyc
.env

dataset/
NEU-DET/
runs/
archive/
archivez/
archive.zip

backend/uploads/*
backend/results/*
!backend/uploads/.gitkeep
!backend/results/.gitkeep

*.zip
*.rar
*.db
*.sqlite3

yolov8n.pt

.DS_Store
Thumbs.db
